Package: com.ps.realcc
Name: RealCC
Depends: mobilesubstrate, firmware (>= 11.0)
Version: 0.0.5
Architecture: iphoneos-arm
Description: Real CC
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
